* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px ;
}


header{
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 1.5em 1em;
}
header section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
p {
    font-weight: bold;
    font-size: 2rem;
}
#date {
    padding-top: 6px;
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0em;
}

.empty {
    position: fixed;
    bottom: 50%;
    right : 50%;
    transform: translate(50% , 50%);
    width: 100%;
    text-align: center;
}

#add {
    position: fixed;
    bottom: 10px;
    right : 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 1.5rem;
    padding: .5em 1em;
    border-radius: 20px;
}

#add p {
    font-weight: normal;
    font-size: 1em;
}
